@use 'src/styles/vars';


.ui.btn-start {
 //padding: 1.5em 1.5em;
 text-align: center;
 border-radius: 30px;
}
/**.board {
  padding: vars.$gutter * 2;
  //max-width: 700px;
  //margin-bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 5px;

  
  .board-bord {
    background: grey;
    //text-align: center;
    border: purple 8px solid;
  }

} */
