
body {
  font-family: sans-serif;
  // background: rgb(129, 228, 211);
  background: linear-gradient(to right, rgb(134, 16, 170), rgb(226, 168, 231));
 }
 

.app {
  width: 850px;
  margin: 0 auto;
}
