@use 'src/styles/vars';


.ui.btn-game {
  padding: 2em 4em;
  text-align:center;
  margin:auto;
  display:flex;
  border-radius: 30px;
}
.ui.header {
text-align: center;
width: 100%;
}

.ui.seecard {
  text-align: center;
  width: 100%;

}
.ui.row5 {
  position: relative;
  text-align:center;
  margin:auto;
  display:flex;
  //width: 100px;
 // height: 100px;
  //top: 10px;
   //top: 20px;
   //left: 20px;
}
