
.option {
  font-style: oblique;
  font-weight: bold;
  border: .5rem solid green;
  padding: 8em 8em;

  .game {
    border-radius: 30px;
    background-color: purple;
    padding: 1em 1em;
    color:white;
  }

 &-btn {
   background-color: purple;
   border: 0;
   color: white;
   padding: 1rem 1.5rem;
   border-radius: 1em;
   margin: 1rem 1rem;
   min-width: 12em;
   font-style: bold;
 }
 

}
