@use 'src/styles/vars';


.ui.btn-game {
  padding: 2em 4em;
  text-align:center;
  margin:auto;
  display:flex;
  border-radius: 30px;
}
.ui.header {
text-align: center;
width: 100%;
}

.ui.body {
  text-align: center;
  width: 100%;

}

