
.card-img {
  height: 100px;
  transform: rotateY(180deg) perspective(100px); 
  transition: .5s;

}

.card-show {
  &::after {
    transform: rotateY(180deg) perspective(100px);
  }

  .card-img {
    transform: rotateY(0) perspective(100px);
  }
}

.card-finished {
  opacity: .5;
}
