.header {
//text-align: center;
  border: black 8px solid;

  &-link {
    margin: 1rem 1rem;
    cursor: pointer;
    color: black;

    &--selected {
      text-decoration: underline;
    }
  }

  .title {
    color:red;
    font-style: oblique;
    font-size: 2.75em;
  }

}
