@use 'src/styles/vars';


.result {

  // border: .5rem solid hsl(39, 100%, 50%);
  // padding: 7.5em 7.5em;
  padding: vars.$gutter * 2;
  text-align: center;

 .ui.h1 {
 font-weight: 3em;
 }

 .ui.btn {
  bottom: 0;
  padding: 2em 6em;
  border-radius: 1em;
  //margin: 1rem 1rem;
  //min-width: 12em;
  font-size: 2em;
  font-weight: vars.$global-font-weight;
  position:absolute;
  padding-top:50px;
}

}
