@use 'src/styles/vars';

// voir documentation: https://material-ui.com/api/dialog/


.MuiDialog-paperWidthSm {
  width: 100%;
  // background-color: rgb(142, 208, 212) !important; 
  background: radial-gradient(
    rgb(210, 85, 226) 60%,
    rgba(18, 221, 194, 0.664)
  );

  border-radius: 3rem;
  text-align: center;
}


.MuiDialogContentText-root {
  font-size: 3em;
  margin-top: 15px;
}

.h1 {
 font-size: 55px;
  color: rgb(129, 216, 129);
}

.MuiButton-label:hover {
  color: rgb(202, 35, 211);
}

